* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #f0f6ff;
  height: 101px;
  padding: 24px 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  width: 128px;
  height: 53px;
  border-radius: 8px;
  text-decoration: none;
  padding: 16px 40.5px;
  font-size: 18px;
  font-weight: 600px;
  font-family: "Pretendard";
  color: #f5f5f5;
  background-image: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

main {
  width: 100%;
  height: 948px;
  background-color: #f0f6ff;
  margin-bottom: 120px;
  padding-top: 65px;
  text-align: center;
}

main > h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Pretendard";
  line-height: 80px;
  margin-bottom: 40px;
}

main > h1 > span {
  background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

main > a {
  display: inline-block;
  width: 350px;
  height: 53px;
  padding: 16px 126px;
  font-size: 17px;
  font-family: "Pretendard";
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  background-image: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  text-decoration: none;
  color: #f5f5f5;
  margin-bottom: 40px;
}

main#landing-img-container {
  width: 1200px;
  height: 590px;
}

article.tutorial {
  width: 998px;
  height: 450px;
  margin: 100px auto;
}

article.tutorial > section {
  display: inline-block;
}

article.tutorial > section.explanation {
  width: 448px;
  height: 450px;
}

article.tutorial > section.image-container {
  width: 550px;
  height: 450px;
}

section.image-container > img {
  width: 100%;
  height: 100%;
}
